@using Microsoft.AspNetCore.Identity
@model IEnumerable<Asernatat_3.Models.Category>
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Index";
}
<div class="col" style="max-width: 20%"></div>
<div class="col myy-colorr border-left border-right my-border" style="max-width: 60%; min-height: 600px;">
    <div class="row">
        <div class="col m-3">
            <div>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <tr>
                        <td class="p-1 pl-2">
                            <div class="col">
                                <a class="my-exampl text-decoration-none" asp-action="Create">Create New</a>
                            </div>
                        </td>
                    </tr>
                }
                <div class="row no-gutters">
                    @if (Model.Any())
                    {
                        <table class="table table-borderless">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>

                                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                        {
                                            <a asp-controller="Art" asp-action="Index" asp-route-id="@item.Id" class="text-decoration-none">
                                                <div class="col border rounded my-border worlds">
                                                    <table class="table table-borderless" style="margin-bottom: 0px; color: #000000 !important;">
                                                        <tr>
                                                            <td>
                                                                <a class="my-exampl"> @Html.DisplayFor(modelItem => item.Name)</a>
                                                            </td>
                                                            <td>
                                                                <div class="float-right">
                                                                    <a class="my-exampl" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                                    <span>|</span>
                                                                    <a class="my-exampl" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                                    <span>|</span>
                                                                    <a class="my-exampl" asp-controller="Art" asp-action="Create" asp-route-id="@item.Id">Create some arts</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Art" asp-action="Index" asp-route-id="@item.Id" class="text-decoration-none">
                                                <div class="col border rounded my-border worlds">
                                                    <span class="social-inner my-exampl"> @Html.DisplayFor(modelItem => item.Name)</span>
                                                </div>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <h3>No items matching your query</h3>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col" style="max-width: 20%"></div>

