@model IEnumerable<Asernatat_3.Models.Order>

@{
    ViewData["Title"] = "Index";
}


<div class="col" style="max-width: 20%"></div>
<div class="col myy-colorr border-left border-right my-border" style="max-width: 60%; min-height: 600px;">
    <div class="row">
        <div class="col m-3">
            @if (Model.Any())
            {
                <table class="table table-borderless">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="border-top" style="border-color: black !important;">
                                <td style="color: black !important;">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td style="color: black !important;">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td style="color: black !important;">
                                    @Html.DisplayFor(modelItem => item.Prise)
                                </td>
                                <td style="color: black !important;">
                                    @Html.DisplayFor(modelItem => item.Time)
                                </td>
                                <td>
                                    <a  class="my-exampl" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3>No items matching your query</h3>
            }
        </div>
    </div>
</div>
<div class="col" style="max-width: 20%"></div>
